@import "src/shared/sass/size"

.search-box--container
    max-width: 1200px
    height: 100%
    margin: auto
    // margin-left: 10vw
    position: relative
    display: flex
    font-size: 18px

    @media screen and (max-width: $desktop)
        width: 90%

    @media screen and (max-width: $tablet-small)
        width: 90%

    .search-box--logo
        background-image: url(/shared/assets/logos/logo_large.png)
        background-repeat: no-repeat
        background-size: 130px;
        height: 44px;
        top: 11px
        width: 134px
        text-indent: -999px
        position: absolute

        @media screen and (max-width: $tablet-small)
            background-image: url(/shared/assets/logos/logo_small.png)
            background-size: 46px
            left: 3px
            width: 88px

        @media screen and (max-width: $mobile-large)
            display: none

    .search-box--form
        height: 100%
        width: calc( 100% - 164px );
        display: flex
        align-items: center
        position: absolute
        left: 164px

        @media screen and (max-width: $tablet-small)
            width: calc( 100% - 88px );
            left: 88px

        @media screen and (max-width: $mobile-large)
            width: 100%
            left: 0px

        .searchbox-input
            &input:focus, textarea:focus, select:focus
                outline: none

            -webkit-appearance: none;
            width: 100%
            height: 70%
            border: none
            border-radius: 5px 0px 0px 5px
            font-size: 18px
            padding: 15px

        .searchbox-input--button
            height: 70%
            border: none
            border-radius: 0px 5px 5px 0px
            padding: 5px
            width: 45px
            font-size: 18px
            background-image: url(/shared/assets/icons/ic_Search@2x.png)
            background-repeat: no-repeat
            background-size: 20px;
            background-position: 10px